body {
  background-color: #efefef;
}

.titular {
  color: #000;
  font-weight: 500;
  font-family: "Verdana", "Calibri", Serif;
  text-align: center;
}

.play-master {
  height: 800px;
  margin: auto;
  width: 1400px;
}

#play-field{
  background-color: #FFF;
  border: 1px solid #BEBEBE;
  height: 800px;
  margin: auto;
  width: 1400px;
}
