body {
  background-color: #000;
}

.titular {
  color: #FFF;
  font-weight: 500;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}

.play-master {
  height: 800px;
  margin: auto;
  width: 1400px;
}

#play-field{
  background-color: #008542;
  border: 1px solid #BEBEBE;
  height: 800px;
  margin: auto;
  width: 1400px;
}
